.mark_1{
    font-size: 40px;
    color: aqua;
    font-family: fantasy;
}
html{
    text-align: center;
}
span div{
    text-align: right;
    margin-right: 250px;
}
span img{
    text-align:center;
    margin-top: 0px;
}
#contacts{
    
    font-size: 25px;
}
